html, body {
    padding: 0;
    margin: 0;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.afold {
    margin: 3em auto;
    box-sizing: border-box;
}

.afold.success {
    height: 400px;
    width: 400px;
}

.afold.fail {
    width: 422px;
    height: 298px;
}

#main-result:not(.lite) {
    font-size: 2em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 0 .5em 0;
    color: white;

}

.afold .content {
    position: relative;
    margin: auto;
    text-align: center;
    font-size: 2em;
    height: 100%;
    width: 100%;

    background-size: cover;
}

.afold.success .content {
    background: url(/images/sk.jpg);
}
.afold.fail .content {
    background: url(/images/fwp.jpg);
}

h1 {
    color: white;
    line-height: 1em;
}

.outline {
    text-shadow: -1px 0 0 #000,
        1px 0 0 #000,
        0 -1px 0 #000,
        0 1px 0 #000;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

footer.disclaimer {
    font-size: .7em;
    color: #666;
}

a {
    cursor: pointer;
    color: #1cd2dc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.container {
    padding: 1em;
    max-width: 480px;
    margin: auto;
}

.result {
    font-weight: bold;
}

.result.success {
    color: green;
}
.result.fail {
    color: red;
}

.container .test {
    border: 1px solid #ccc;
    margin-bottom: 1em;
    padding: .5em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
